body {
	margin: 0;
    padding: 0;
	
    background: #241313;

    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    padding: 10px;

    background: transparent;
    z-index: 10;
}

.nav-bar {
	display: flex;
	justify-content: flex-start;
}

.logo {
    display: flex;
    flex-direction: column;

	width: 80px;
	margin-right: 20%;

	color:aqua
}

.logo p {
	font-style: italic;
    font-weight: bold;
    font-size: 20px; 
}

.logo-text-up {
	margin-top: 1px;
	margin-bottom: 0;

	margin-right: 30%;
}

.logo-text-down {
	margin-top: 0;
	margin-bottom: 1px;

	margin-left: 30%;
}

.nav-but {
	display: none;
	cursor: pointer;
}

.nav-list {
	display: flex;
}

.nav-list a {
	display: block;

	margin-inline: 15px;
	padding: 10px;

	border-radius: 100px;
	border-style: solid;
	border-color: transparent;
	
	color:aqua;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

.video-container {
	display: flex;
	position: relative;

	justify-content: center;
	align-items: center;
}

.video-container::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px; /* Висота затемнення */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #241313 100%);
	pointer-events: none; /* Щоб градієнт не заважав клікам по відео */
}

.video-container video {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.info-pocket {
	display: flex;
	
	position: relative;
	margin-bottom: 50px;

    justify-content: center;
}

.circle-container {
	display: block;
	position: absolute;
	
	padding: 15px;

	top: -25px;
	width: 400px;
	
	text-align: center;

	background-color: #271414;
	border-radius: 100px;
	border-color: aqua;
	border-style: solid;
}

.info-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;

    justify-content: center;
}

.info-circle {
	padding: 15px;
	width: 400px;

	text-align: center;

	background-color: #271414;
	border-radius: 100px;
	border-color: aqua;
	border-style: solid;
}

.circle-container p, .info-circle p {
	margin: 0;

	font-size: 30px;
	font-weight: bold;

	color: aqua;
}

.map-container {
	position: relative;
    display: flex;

	margin-top : 25px;
    width: 100%;

    justify-content: center;
}

#map-overlay, #map {
	width: 90%;
    height: 500px;

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}

#map-overlay {
	display: flex;
    position: absolute;

    z-index: 9999;

	justify-content: center;
	align-items: center;

	background: rgba(154, 63, 63, 0.4);
    cursor: pointer;
}

#map-overlay p {
	margin: 0;

	font-size: 30px;
	font-weight: bold;
	
	color: #271414;
}

.leaflet-popup-content-wrapper, 
.leaflet-popup-tip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.leaflet-popup-close-button {
	display: none;
}


footer {
	margin-top: 30px;
    padding: 10px;

    background-color: #333;
    color: white;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}


.nav-list a:hover {
	border-color:aqua;
}


@media (max-width: 800px) {
	.nav-bar {
		justify-content: space-between;
	}

	.nav-but {
		display: block;
		
		margin-left: 2px;
		padding-block: 1px;
		padding-inline: 10px;

		background: transparent;
		border-radius: 10px;
		border-color: transparent;
		border-style: solid;
		color: aqua;
		
		font-size: 1.6em;
	}

	.nav-list {
		display: none;
	}


	.nav-but:hover {
		border-color:aqua;
	}
	
	.drop:hover .nav-list{
		display: block;
		position: absolute;

		z-index: 1;
		right: 0;
		
	}
}
